<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>This is protected route</h1>
  <p>Username: <%= user.username %> </p>
  <p>Email: <%= user.email %> </p>
  <a href="/logout">Logout</a>
</body>
</html>